<div class="row mb-3 text-center">
    <div class="card-group col-sm-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Join the best dating app</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Get started for FREE</h1>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga itaque dolorem dolores, molestias, quos veniam, officiis ea amet exercitationem eligendi voluptatum. Consectetur commodi minus provident, nam labore in ut harum?
          Quod consectetur velit molestias et cum sit nisi labore provident deleniti. </p>
        </div>
      </div>
    </div>
    <div class="card-group col-sm-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Sign Up Today</h4>
        </div>
        <div class="card-body">
          <p>Click below to get started.</p>

          <%= link_to "Sign up now", new_account_registration_path, class: "w-100 btn btn-lg btn-outline-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>
